<!doctype html>
<html>
    <head>
        <title>Problem Set 1</title>
    </head>
    <body>
        <h2>Hello World!</h2>
        <form method="POST" action="/">
            <label for="name">Enter your name:</label>
            <input type="text" id="name" name="name" required>
            <button type="submit">Submit</button>
        </form>

        {% if name %}
            <h3>Hello World! {{ name }}, welcome to CCCS 106 - Applications Development and Emerging Technologies</h3>
        {% endif %}
    </body>
</html>
