<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}">
    <meta charset="UTF-8">
    <title>Greeting</title>
</head>
<body>
    <div class='panel align-middle'>
        <h1>Hello {{ fname }}!</h1>
        <p>Welcome to CCCS 106 - Applications Development and Emerging Technologies</p>
        <form action="{{ url_for('index') }}" method="POST">
            <button class="btn btn-secondary" type="submit" name="sign_out">Sign Out</button>
        </form>
    </div>
</body>
</html>
