<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <style>
            h1 {
                font-family: Arial, Helvetica, sans-serif;
            }

            body {
                font-family: sans-serif;
            }

            input[type="submit"] {
                background-color: green;
                color: white;
            }
        </style>
    </head>
    <body>
        <h1>{{ title }}</h1>
        <form action="/" method="POST">
            <label for="name">Enter your name:</label>
            <input type="entry" name="name" required />
            <input type="submit" />
        </form>
        {% if name != None: %}
            <p>Hello World! {{ name }}, welcome to CCCS 106 - Applications Development and Emerging Technologies</p>
        {% else: %}
            <p>Hello, World!</p>
        {% endif %}
    </body>
</html>