body {
	background-color: rgb(116, 116, 116);
}

.invalid {
	border-color: red;
	color: red;
}

#login input[type="checkbox"] {
	width: auto;
	display: inline-block;
	margin-left: 10px;
}

#login label[for="remember"] {
	width: auto;
	display: inline-block;
}

#l {
	display: grid;
	grid-template-areas: ". l .";
	width: 100%;
}

#login-button {
	grid-area: l;
	width: 100%;
}