body {
	background-color: rgb(116, 116, 116);
}

.invalid {
	border-color: red;
	color: red;
}

#req {
	color: red;
}

fieldset#register-form {
	display: grid;
	grid-template-areas:
		"f m l"
		"c e e"
		"a a a";
	margin-top: 10px;
	margin-bottom: 10px;
	column-gap: 10px;
}

#f {
	grid-area: f;
}

#m {
	grid-area: m;
}

#l {
	grid-area: l;
}

#c {
	grid-area: c;
}

#e {
	grid-area: e;
}

#a {
	grid-area: a;
}

#u input {
	width: 50%;
}

fieldset#password-form {
	display: grid;
	grid-template-areas: "p Cp";
	column-gap: 10px;
}

#p {
	grid-area: p;
}

#Cp {
	grid-area: Cp;
}

#tos div {
	display: block;
	margin-left: 5px;
}

#tos input {
	display: inline-block;
	width: auto;
}

#tos label {
	display: inline-block;
	width: auto;
}

#r {
	display: grid;
	grid-template-areas: ". r .";
	width: 100%;
}

#register-button {
	grid-area: r;
	width: 100%;
}