* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    background-image: url('/static/image/front.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #FFB7CE; /* Adjusted to the pinkish background tone */
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif !important; 
}

/* Container styling */
.container {
    position: relative;
    padding: 20px 40px;
    border-radius: 8px;
    z-index: 1;
    background-color: #ffffff; /* Simple white background */
    width: 500px;
    max-height: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/static/image/back.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    opacity: 0.5;
    z-index: -1;
}

/* Heading styling */
h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #FFB7CE; /* Pink heading color */
    font-family: Arial, sans-serif !important;
    font-size: 35px !important;
}

/* Form group styling */
.form-group {
    margin-bottom: 8px;
}

/* Label styling */
label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
}

/* Required field indicator */
.required {
    color: #db3737;
}

/* Input and textarea styling */
input[type="text"],
input[type="number"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #FFB7CE; /* Pink border on focus */
    outline: none;
}

textarea {
    resize: vertical;
}

/* Button styling */
button {
    width: 100%;
    padding: 10px;
    background-color: #FFB7CE; /* Pink button background */
    border: none;
    border-radius: 5px; /* Slightly rounded corners */
    color: #ffffff; /* White button text */
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

button:hover {
    background-color: #E594A8; /* Darker pink on hover */
}

/* Success page styling */
.success-page .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 500px;
    text-align: center;
}

/* Alert styling */
.alert {
    padding: 10px;
    margin: 15px auto;
    border-radius: 4px;
    text-align: center;
    max-width: 80%;
}

/* Success alert styling */
.alert-success {
    background-color: #FFB7CE;
    color: #ffffff;
    border: 1px solid #ff85a1;
}

/* Error alert styling */
.alert-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

@media (max-width: 500px) {
    .container {
        padding: 5px;
    }

    h2 {
        font-size: 20px;  /* Smaller heading font size on smaller screens */
    }

    label {
        font-size: 10px;
    }

    .form-group {
        width: 400%;
    }

    button {
        font-size: 16px;  /* Adjust button font size */
    }

    .success-page .container {
        padding: 5px;
    }

    .success-page .h2 {
        font-size: 20px;
    }
}
