body {
    background-color: rgb(153, 91, 37);
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;
    margin: 7px;
}
h1 {
    background-color: auto;
    width: 300px;
    border: auto;
    padding: 48px;
    margin: 20px;
    margin: auto;
    position: relative;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 60%;
    border: 3px;
    padding: 9px;
    position: absolute;
    top: 32%;
    left: 20%;
}
.card {
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
}
.card-header {
    border-bottom: 1px solid #fdbaba;
}
.card-body {
    padding: 2rem;
    background-color: rgb(188, 156, 124);
}
.btn-primary {
    background-color: #944b03aa;
    border-color: #000000;
}
.btn-primary:hover {
    background-color: #d0d4d8;
    border-color: #dff091;
}
