html {
    min-height: 100%;
}

p {
	margin: 0;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: sans-serif;
    text-align: center;
    background-image: linear-gradient(45deg, rgb(115, 7, 192), rgb(9, 151, 207));
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

button {
    border-radius: 5px;
    background-image: linear-gradient(90deg, #0ab60a, #077b07, #175417);
    background-size: 200%;
    background-position: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    border-style: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    width: 50%;
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.25));
    transition: background-position 0.1s ease-out, filter 0.1s ease-out;
}

button:hover {
    background-position: 0%;
    filter: drop-shadow(0px 7px 5px rgba(0, 0, 0, 0.25));
}

button:active {
	background-position: 100%;
	filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
}

.panel {
    display: block;
    margin: auto;
    background-color: rgba(90, 90, 90, 0.75);
    padding: 10px;
    width: 75%;
    border-radius: 10px;
    color: white;
    margin-top: 25px;
}

legend {
    color: rgb(237, 237, 237);
    text-align: left;
    padding-left: 10px;
}

.dialog {
    border-radius: 10px;
    border-style: solid;
    border-color: gray;
    border-width: 3px;
    padding: 5px;
    text-align: left;
    color: rgb(90, 90, 90);
    background-color: rgb(200, 200, 200);
}

.dialog svg {
	margin-bottom: -2px;
}

.success {
    border-color: green;
    background-color: #66ec66;
    color: green;
}

.warning {
    border-color: rgb(194, 153, 4);
    background-color: rgb(255, 228, 132);
    color: rgb(194, 153, 4);
}

#greeting {
	margin-top: 5px;
	margin-bottom: 5px;
}

#greeting span {
	padding: 25px;
}

fieldset#register-form {
	display: grid;
	grid-template-areas:
		"f m l"
		"c e e"
		"a a a";
	margin-top: 10px;
	margin-bottom: 10px;
	column-gap: 10px;
}

#register-form p {
	color: red;
}

#f {
	grid-area: f;
}

#m {
	grid-area: m;
}

#l {
	grid-area: l;
}

#c {
	grid-area: c;
}

#e {
	grid-area: e;
}

#a {
	grid-area: a;
}

label {
	font-weight: normal;
	margin-bottom: 1px;
	text-align: left;
	width: 100%;
	padding-left: 5px;
}

label:has(+ br + input:required):after {
	content: ' *';
	color: red;
}

input {
	width: 100%;
	margin-bottom: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
	color: white;
	font-size: 18px;
	background-color: rgba(0, 0, 0, 0);
	border-style: none;
	border-bottom: 3px solid white;
	transition: border-bottom-color 0.1s ease-out;
}

input:hover {
	border-bottom-color: lime;
}

input:focus {
	border-bottom-color: green;
}

input[type="checkbox"] {
	width: auto;
	size: 12px;
}

span:has(a):after {
	content: ' *';
	color: red;
}

a {
	color: lime;
	text-decoration: underline dotted;
	cursor: pointer;
	transition: color 0.2s ease-out, text-decoration 0.2s ease-out;
}

a:hover {
	color: cyan;
	text-decoration: underline solid;
}

span#req {
	display: block;
	width: 100%;
	font-style: italic;
	text-align: left;
	color: red;
}

p#instruction {
	color: white;
	text-align: left;
}