body {
    background-image: url(img/cat.jpg);
    background-repeat: repeat;
    background-size: auto;
    background-size: cover;
    margin: 8px;
}
h1 {
    background-color: auto;
    width: 300px;
    border: auto;
    padding: 50px;
    margin: 20px;
    margin: auto;
    text-align: center;
    width: 60%;
    border: 3px;
    padding: 10px;
    position: relative;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 32%;
    left: 20%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.card {
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
}

.card-header {
    border-bottom: 1px solid #ff0000;
}

.card-body {
    padding: 2rem;
    background-color: rgb(233, 230, 227);
}

.btn-primary {
    background-color: #070707;
    border-color: #000000;
}

.btn-primary:hover {
    background-color: #d0d4d8;
    border-color: #004085;
}
