body {
    font-family: sans-serif;
    text-align: center;
    background-color: #ffff;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Arial;
}

.panel {
    display: block;
    margin: auto;
    background-color: #007882;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    color: white;
    margin-top: 10%;
}

fieldset {
    border: none;
    padding: 0;
}

legend {
    color: rgb(237, 237, 237);
    font-size: 1.5em;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-group label {
    margin-right: 10px;
    width: 40%;
}

.form-group input {
    width: 55%;
    color: black;
    border-radius: 5px;
    border-style: none;
    padding: 5px;
}

button {
    border-radius: 5px;
    background-image: linear-gradient(90deg, #becae6, #209ebb, #023047);
    background-size: 200%;
    background-position: 100%;
    padding: 5px 10px;
    border-style: none;
    color: white;
    cursor: pointer;
    transition: background-position 0.5s ease-out;
    width: 100%;
}

button:hover {
    background-position: 0%;
}

.form-button {
    margin-top: 10px;
}

.error-message {
    display: none;
    color: red;
    margin-top: 10px;
}