/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    background-image: url('/static/img/spacebg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif !important;
}

/* Heading styling */
h1 {
    color: #f8f8f8f0;
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}

/* Card header styling */
.card {
    background-color: #47005883;
}
.card-header {
    background-color: #6e2e74;
    color: rgba(232, 225, 225, 0.881);
    text-align: center;
    font-size: 24px;
}

/* Table styling */
.table {
    background-color: #49115a30;
    color: #e6dddd;
    border-radius: 8px;
    margin-bottom: 5px;
}

.table th {
    background-color: #af4ddd;
    color: rgba(228, 223, 223, 0.881);
    text-align: center;
    font-weight: bold;
}

.table td {
    background-color: #ca7be900;
    border: none;
    color: #e6dddd;
    text-align: left;
}

/* Button styling */
.btn {
    width: 150px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-radius: 12px;
    padding: 10px 24px;
}

.btn-primary {
    background-color: #320046f2;
    border: none;
}

.btn-danger {
    background-color: #c837db;
    border: none;
}

/* Button hover effects */
.btn-primary:hover {
    background-color: #000000;
}

.btn-danger:hover {
    background-color: #a32020;
}
