{% extends "bootstrap/base.html" %}
{% block title %} {{ title }} {% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}">
{% endblock %}

{% block content %}
    <div class='panel align-middle'>
        <h1>{{ title }}</h1>
        <p>Please register to continue:</p>
        <form action="/" method="POST" id='register-form'>
            <fieldset>
                <table class='form-table'>
                    <tr>
                            <legend>Registration Form</legend>
                        <td>
                            <label for='fname'>First name:</label>
                        </td>
                        <td>
                            <input type='text' name='fname'>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for='mname'>Middle name:</label>
                        </td>
                        <td>
                            <input type='text' name='mname'>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for='lname'>Last name:</label>
                        </td>
                        <td>
                            <input type='text' name='lname'>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for='cnumber'>Contact No.:</label>
                        </td>
                        <td>
                            <input type='tel' name='cnumber'>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for='eaddress'>Email address:</label>
                        </td>
                        <td>
                            <input type='email' name='eaddress'>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for='address'>Address:</label>
                        </td>
                        <td>
                            <input type='text' name='address'>
                        </td>
                    </tr>
                </table>
                <button class='form-button' type='submit' form='register-form'>Enter</button>
            </fieldset>
        </form>
        {% if name != None: %}
            <p>Hello World! {{ name }}, welcome to CCCS 106 - Applications Development and Emerging Technologies</p>
        {% else: %}
            <p>Hello, World!</p>
        {% endif %}
    </div>
{% endblock %}