{% extends "bootstrap/base.html" %}
{% block title %} {{ title }} {% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/base.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}">
{% endblock %}

{% block content %}
    <div>
    	<h1>Hi, {{ name }}!</h1>
        <p>Welcome to CCCS 106 - Applications Development and Emerging Technologies.</p>
        <a href="{{ url_for('logout') }}"><button>LOG OUT</button></a><br/>
        <img src="{{ url_for('static', filename='assets/IMG_7061.jpg') }}" alt="cool image" title="Camarines Sur Polytechnic Colleges">
    </div>
{% endblock %}