{% extends "bootstrap/base.html" %}
{% block title %} Dashboard {% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/base.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}">
{% endblock %}

{% block content %}
    <div>
    	<h1>Hi, {{ info_data[0] }}!</h1>
        <p>Welcome to CCCS 106 - Applications Development and Emerging Technologies.</p>
        <div id="user-info">
            <table>
                <tr>
                    <td>Username</td>
                    <td>{{ info_data[4] }}</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>{{ info_data[0] }}</td>
                </tr>
                <tr>
                    <td>Contact #</td>
                    <td>{{ info_data[1] }}</td>
                </tr>
                <tr>
                    <td>Email Address</td>
                    <td>{{ info_data[2] }}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>{{ info_data[3] }}</td>
                </tr>
            </table>
        </div>
        <img src="{{ url_for('static', filename='assets/IMG_7061.jpg') }}" alt="cool image" title="Camarines Sur Polytechnic Colleges">
        <a href="{{ url_for('logout') }}"><button>SIGN OUT</button></a><br/>
    </div>
{% endblock %}