<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/styles.css">
    <title>Sign Up</title>
</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form method="POST">
                    <h2>Sign Up</h2>

                    <div class="inputbox">
                        <input type="text" name="first-name" required>
                        <label for="first-name">First Name</label>
                    </div>
                    
                    <div class="inputbox">
                        <input type="text" name="middle-initial" required>
                        <label for="middle-initial">Middle Initial</label>
                    </div>
                    
                    <div class="inputbox">
                        <input type="text" name="last-name" required>
                        <label for="last-name">Last Name</label>
                    </div>
                    
                    <div class="inputbox">
                        <input type="text" name="address" required>
                        <label for="address">Address</label>
                    </div>
                    
                    <div class="inputbox">
                        <input type="email" name="email-address" required>
                        <label for="email-address">Email Address</label>
                    </div>
                    
                    <div class="inputbox">
                        <input type="text" name="contact-number" required>
                        <label for="contact-number">Contact Number</label>
                    </div>

                    <div class="inputbox">
                        <input type="password" name="password-signup" required minlength="8">
                        <label for="password-signup">Password (min 8 characters)</label>
                    </div>

                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </section>
</body>
</html>
